Repository bitwarden/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bitwarden/dept-bre, @bitwarden/dept-dbops, @bitwarden/team-auth-dev, @bitwarden/team-key-management-dev, @bitwarden/team-tools-dev, @bitwarden/team-vault-dev, @bitwarden/team-admin-console-dev, @bitwarden/team-billing-dev, @bitwarden/team-platform-dev

Repo tests working.
  test/Infrastructure.EFIntegration.Test/AutoFixture/DeviceFixtures.cs
  test/Infrastructure.EFIntegration.Test/Repositories/DeviceRepositoryTests.cs
Owners: none

[PM-14377] Add PATCH complete endpoint (#5100)
  src/Api/Vault/Controllers/SecurityTaskController.cs
  src/Core/Vault/Authorization/SecurityTaskOperations.cs
  src/Core/Vault/Commands/Interfaces/IMarkTaskAsCompleteCommand.cs
  src/Core/Vault/Commands/MarkTaskAsCompletedCommand.cs
  src/Core/Vault/VaultServiceCollectionExtensions.cs
  test/Core.Test/Vault/AutoFixture/SecurityTaskFixtures.cs
  test/Core.Test/Vault/Commands/MarkTaskAsCompletedCommandTest.cs
Owners: @bitwarden/team-vault-dev

chore(db): add `Installation.LastActivityDate` column (#5060)
  src/Infrastructure.EntityFramework/Models/Installation.cs
  src/Sql/dbo/Stored Procedures/Installation_Create.sql
  src/Sql/dbo/Stored Procedures/Installation_Update.sql
  src/Sql/dbo/Tables/Installation.sql
  util/Migrator/DbScripts/2024-12-02_00_AddInstallationLastActivityDateColumn.sql
  util/MySqlMigrations/Migrations/20241202201938_AddInstallationLastActivityDateColumn.Designer.cs
  util/MySqlMigrations/Migrations/20241202201938_AddInstallationLastActivityDateColumn.cs
  util/MySqlMigrations/Migrations/DatabaseContextModelSnapshot.cs
  util/PostgresMigrations/Migrations/20241202201943_AddInstallationLastActivityDateColumn.Designer.cs
  util/PostgresMigrations/Migrations/20241202201943_AddInstallationLastActivityDateColumn.cs
  util/SqliteMigrations/Migrations/20241202201932_AddInstallationLastActivityDateColumn.Designer.cs
  util/SqliteMigrations/Migrations/20241202201932_AddInstallationLastActivityDateColumn.cs
  util/SqliteMigrations/Migrations/DatabaseContextModelSnapshot.cs
Owners: @bitwarden/dept-dbops

Added bulk create request model
  src/Api/Models/Request/BulkCreateSecurityTasksRequestModel.cs
Owners: none

feat(newDeviceVerification): Adding more tests for resend new device OTP.
  src/Core/Services/Implementations/UserService.cs
  test/Core.Test/Services/UserServiceTests.cs
Owners: none

Repository test is working properly.
  test/Infrastructure.EFIntegration.Test/Repositories/DeviceRepositoryTests.cs
Owners: none

Validating the endpoint is retreiving the correct auth request.
  test/Infrastructure.EFIntegration.Test/Repositories/DeviceRepositoryTests.cs
Owners: none

Removed unnessesary files
  src/Core/Auth/UserFeatures/DeviceReadActiveWithPendingAuthRequestsByUserId/IDeviceReadActiveWithPendingAuthRequestsByUserIdQuery.cs
  src/Core/Auth/UserFeatures/DeviceReadActiveWithPendingAuthRequestsByUserId/Implementations/DeviceReadActiveWithPendingAuthRequestsByUserIdQuery.cs
Owners: @bitwarden/team-auth-dev

Tiny fixes.
  src/Core/Auth/Models/Api/Response/DeviceAuthRequestResponseModel.cs
  test/Api.Test/Api.Test.csproj
Owners: @bitwarden/team-auth-dev

.github/CODEOWNERS:

# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

## Docker files have shared ownership ##
**/Dockerfile
**/*.Dockerfile
**/.dockerignore
**/entrypoint.sh

## BRE team owns these workflows ##
.github/workflows/publish.yml @bitwarden/dept-bre

## These are shared workflows ##
.github/workflows/_move_finalization_db_scripts.yml
.github/workflows/release.yml

# Database Operations for database changes
src/Sql/** @bitwarden/dept-dbops
util/EfShared/** @bitwarden/dept-dbops
util/Migrator/** @bitwarden/dept-dbops
util/MySqlMigrations/** @bitwarden/dept-dbops
util/PostgresMigrations/** @bitwarden/dept-dbops
util/SqlServerEFScaffold/** @bitwarden/dept-dbops
util/SqliteMigrations/** @bitwarden/dept-dbops

# Auth team
**/Auth @bitwarden/team-auth-dev
bitwarden_license/src/Sso @bitwarden/team-auth-dev
src/Identity @bitwarden/team-auth-dev

# Key Management team
**/KeyManagement @bitwarden/team-key-management-dev

**/Tools @bitwarden/team-tools-dev

# Vault team
**/Vault @bitwarden/team-vault-dev
**/Vault/AuthorizationHandlers @bitwarden/team-vault-dev @bitwarden/team-admin-console-dev  # joint ownership over authorization handlers that affect organization users

# Admin Console team
**/AdminConsole @bitwarden/team-admin-console-dev
bitwarden_license/src/Scim @bitwarden/team-admin-console-dev
bitwarden_license/src/test/Scim.IntegrationTest @bitwarden/team-admin-console-dev
bitwarden_license/src/test/Scim.ScimTest @bitwarden/team-admin-console-dev
src/Events @bitwarden/team-admin-console-dev
src/EventsProcessor @bitwarden/team-admin-console-dev

# Billing team
**/*billing* @bitwarden/team-billing-dev
**/*bitpay* @bitwarden/team-billing-dev
**/*braintree* @bitwarden/team-billing-dev
**/*freshdesk* @bitwarden/team-billing-dev
**/*freshsales* @bitwarden/team-billing-dev
**/*paypal* @bitwarden/team-billing-dev
**/*stripe* @bitwarden/team-billing-dev
**/*subscription* @bitwarden/team-billing-dev
**/*payment* @bitwarden/team-billing-dev
**/*invoice* @bitwarden/team-billing-dev
**/*OrganizationLicense* @bitwarden/team-billing-dev
**/Billing @bitwarden/team-billing-dev
src/Admin/Controllers/ToolsController.cs @bitwarden/team-billing-dev
src/Admin/Views/Tools @bitwarden/team-billing-dev

# Platform team
.github/workflows/build.yml @bitwarden/team-platform-dev
.github/workflows/cleanup-after-pr.yml @bitwarden/team-platform-dev
.github/workflows/cleanup-rc-branch.yml @bitwarden/team-platform-dev
.github/workflows/repository-management.yml @bitwarden/team-platform-dev
.github/workflows/test-database.yml @bitwarden/team-platform-dev
.github/workflows/test.yml @bitwarden/team-platform-dev

# Multiple owners - DO NOT REMOVE (BRE)
**/packages.lock.json
Directory.Build.props
